<script>
var Cottesloe =new google.maps.LatLng(-31.987384, 115.763542);
var Bannister =new google.maps.LatLng (-32.544768, 116.400749);
var Beaufort  =new google.maps.LatLng (-33.621747, 117.114860);
var Kendenup =new google.maps.LatLng (-34.486448, 117.576286);
var Sandpatch =new google.maps.LatLng(-35.072979, 117.785026);



function initialize()
{



var mapProp = {
  center:Bannister,
  zoom:7,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
var sightsee = '/sightsee.png'
var hike = '/hike.png'
var ski = '/eat.png'
var run = '/run.png'
var culture = '/culture.png'

var marker=new google.maps.Marker({
  position:Cottesloe,
  icon: culture

    });

var marker1=new google.maps.Marker({
  position:Bannister,
  icon: run

    });

var marker2=new google.maps.Marker({
   position:Beaufort,
   icon: run

    });

var marker3=new google.maps.Marker({
    position:Kendenup,
    icon: run

    });
var marker4=new google.maps.Marker({
    position:Sandpatch,
    icon:culture

    });






marker.setMap(map);
marker1.setMap(map);
marker2.setMap(map);
marker3.setMap(map);
marker4.setMap(map);

var infowindow = new google.maps.InfoWindow({
  content:"200 Mile Foot Race"
  });



google.maps.event.addListener(marker, 'click', function() {
  infowindow.open(map,marker);
  });




var myTrip=[Cottesloe, Bannister, Beaufort , Kendenup, Sandpatch];
var flightPath=new google.maps.Polyline({
  path:myTrip,
  strokeColor:"#DC143C",
  strokeOpacity:0.8,
  strokeWeight:2
  });

flightPath.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="googleMap" style="width:500px;height:380px;"></div>
