<!DOCTYPE html>
<html>
    <head>
        <title>Princess Adventures</title>
    </head>
    <body>
        <div class="container">
            <a href="/santiago">Santiago</a>
            <a href="/sanjuan">SanJuan</a>
            <a href="/denali">Denali</a>
            <a href="/alps">Alps</a>
            <a href="/australi">Australi</a>
            <a href="/thailand">Thai</a>
        </div>
    </body>
</html>
