#banner {
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:200px;
    width: 600px;
}

.header {
    border:1px solid black;
    text-align:center;
}

.main {
    margin: auto;
    width:700px;
    border:1px solid black;
}
.adventure_box {
    padding: 10px;
    display:inline-block;
    border: 1px solid black;
}

.adventure_image {
    width:200px;
    height: 200px;
    border-radius:240px;
}

.adventure_activities {
    text-align:center;
}

.adventure_activities_icons {
    display:inline-block;
    width:35px;
    height: 35px;
}
